<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamal Student System Login</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header>
        <h1>Disabled Account Reporting System</h1>
    </header>

    <div class="container">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                    <label for="role">Select Your Role. Admininstrator || Janab</label>
                    <select id="role" name="role" required>
                        <option value="admin">Computer Lab Admin</option>
                        <option value="boss">Janab</option>
                    </select>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Disabled Account Reporting System</p>
    </footer>
</body>

</html>
